

/* MY CUSTOM STYLING
-------------------------------------------------------------------------------------------------------------------------------------- */

*, *::after, *::before {
	cursor: url('media/cursor.png'), auto !important;
	box-sizing: border-box;
}

:root {
	--background-color: #141416;
	--background-color-light: #282627;
	--text-color: #E6E3D9;
	--primary-color: #E6B44B;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--background-color);
	font-family: 'Poppins', sans-serif;
	color: var(--text-color);
	font-size: 16px;
	overflow: auto;
}

@media only screen and (max-width: 1700px) {
	body {
		font-size: 14px;
	}
}

/* a:link {
	color: #ffff4e;
}

a:visited {
	color: #dd93ff;
}

a:hover {
	color: #6cff4a;
}

a:active {
	color: #50b937;
} */

.btn {
	text-decoration: none;
	color: #333 !important;
	padding: 4px 10px;
	border-radius: 2px;
	transition: 0.5s;
	background-color: var(--primary-color);
}

.btn-transition {
	box-shadow: 0 0 0 0 var(--primary-color), 0 0 0 0 var(--primary-color);
	transition: box-shadow .5s, filter .2s;
}

.btn-transition:hover {
	box-shadow: 5px 5px 0 0 var(--primary-color), -5px -5px 0 0 var(--primary-color);
	filter: brightness(106%);
}

.transparent-background {
	background-color: transparent !important;
}

button {
	text-decoration: none;
	color: #000 !important;
	font-family: 'Kanit', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	padding: 4px 10px;
	border-radius: 2px;
	transition: 0.5s;
	background-color: var(--primary-color);
	border: none;
}

.no-margin {
	margin: 0;
	text-align: left;
	padding: 0;
}

.no-margin li {
	margin: 1em 0;
}

.under-title-hr {
	text-align: center;
	width: 70px;
	background-color: var(--primary-color);
	height: 4px;
}

hr {
	border: none
}

/* Header
--------------------------------------------- */

.site-header {
	box-sizing: border-box;
	width: 100%;
	padding: 0 100px 0 80px;
	height: 90px;
	position: fixed;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	transition: .3s;
}

.logo {
	transition: filter .2s;
	text-decoration: none;
	color: var(--text-color) !important;
	font-size: .8em;
}

.logo:hover {
	filter: brightness(70%);
}

.logo img {
	height: 25px;
}

.site-title a:hover {
	filter: opacity(0.6);
}

.main-navigation {
	width: auto;
	display: flex;
	align-items: center;
}

.main-navigation ul {
	list-style-type: none;
}

.main-navigation a {
	color: #fffafa;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 300;
	margin-left: 20px;
	transition: all 0.2s;
	text-decoration: none;
	position: relative;
}

.menu-item {
	filter: brightness(60%) !important;
	transition: filter .2s;
}

.menu-item:hover {
	filter: brightness(100%) !important;
}

.current-menu-item {
	filter: brightness(100%) !important;
}

@media only screen and (max-width: 640px) {
	.logo {
		display: none;
	}
}

/*	Hover effect	*/

.main-navigation a:before, .main-navigation a:after {
	content: '';
	position: absolute;
	width: 0%;
	height: 2px;
	top: calc(50% - 1px);
	margin-top: -0.5px;
	background: var(--primary-color);
}

.main-navigation a:before {
	left: -2.5px;
}

.main-navigation a:after {
	right: 2.5px;
	background: var(--primary-color);
	transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.main-navigation a:hover:before {
	background: var(--primary-color);
	width: 100%;
	transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.main-navigation a:hover:after {
	background: transparent;
	width: 100%;
	transition: 0s;
}

/* Front page
--------------------------------------------- */

#section_landing {
	width: 100%;
	height: 100vh;
	position: relative;
	z-index: 2;
	background: rgb(20, 20, 22);
	background: linear-gradient(90deg, rgba(20, 20, 22, 1) 0%, rgba(0, 0, 0, 1) 70%);
}

#faded_text {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 1000;
	color: rgba(255, 255, 2555, 0.007);
	font-size: 15vw;
	position: absolute;
	top: 10vh;
	z-index: 1;
}

#intro_text_wrapper {
	box-sizing: border-box;
	width: 50%;
	padding: 0 0 10vh 15%;
	font-family: 'Kanit', sans-serif;
	position: absolute;
	bottom: 0;
	z-index: 20;
}

#intro_text1 {
	font-family: 'Lexend Tera', sans-serif;
	color: var(--text-color);
	opacity: 0.3;
	font-size: 1em;
	margin: 0;
	text-transform: uppercase;
}

#intro_text2 {
	color: var(--text-color);
	font-size: 3.2vw;
	font-family: 'Kanit';
	margin: 0;
}

#intro_text3 {
	color: var(--text-color);
	font-size: 1.3em;
	font-family: 'Kanit';
	margin: 0;
	opacity: .3;
}

#intro_text4 {
	text-decoration: none;
	color: var(--text-color);
	font-size: 1.3em;
	border-bottom: 3px solid rgba(255, 255, 255, 0);
	transition: .5s;
}

#intro_text4:hover {
	border-bottom: 3px solid var(--text-color);
}

#portret {
	position: absolute;
	right: 5%;
	bottom: 0;
	height: 90vh;
	z-index: 5;
}

#services_section {
	box-sizing: border-box;
	width: 100%;
	z-index: 10;
	position: relative;
	padding-top: 200px;
	text-align: center;
}

.services-container {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 100px;
}

.service-outer {
	box-sizing: border-box;
	width: 600px;
	height: 700px;
	background-color: var(--background-color-light);
	margin: 0 50px;
	overflow: hidden;
}

.service-inner {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 80px;
	transition: .3s;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-position: center center;
	background-size: cover;
	filter: grayscale(.5);
}

.service-inner::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--background-color);
	opacity: 0;
	transition: .3s;
}

.service-inner:hover::before {
	opacity: 1;
	border-left: 16px solid var(--primary-color);
	border-right: 16px solid var(--primary-color);
	border-top: 18px solid var(--primary-color);
	border-bottom: 18px solid var(--primary-color);
}

#service_inner_left {
	background-image: url('media/wordpress-stock.jpg');
}

#service_inner_right {
	background-image: url('media/html-stock.jpg');
}

.service-active {
	transform: scale(1.05);
}

.service-grid {
	display: grid;
	grid-template-columns: 1fr 5fr;
}

.service-description {
	display: none;
	position: relative;
	text-align: left;
	font-size: 1em;
}

.service-description-active {
	display: block !important;
	animation-name: fade-up;
	animation-duration: .4s;
}

.service-description-active h2 {
	font-size: 2em;
	text-align: center;
}

.plus-symbol {
	color: #77dd77;
	font-size: 3em;
}

@keyframes fade-up {
	from {
		top: 100px;
		transform: rotateX(40deg);
		opacity: 0;
	}
	to {
		top: 0;
		transform: rotateX();
		opacity: 1;
	}
}

#contact_section {
	height: 100vh;
	width: 100%;
	position: relative;
	z-index: 10;
	margin-top: 100px;
}

#contact_container {
	position: absolute;
	height: 100%;
	width: 900px;
	z-index: 7;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#contact_wrapper {
	box-sizing: border-box;
	width: 650px;
	height: 700px;
	background-color: var(--background-color-light);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#contact_wrapper form {
	width: 70%;
}

#contact_img_wrapper {
	width: 70%;
	height: 70vh;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 5;
	background-image: url('media/code-stock.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	filter: contrast(.6);
}

.contact-input {
	transition: .5s;
	width: 100%;
	margin-bottom: 20px;
	padding: 10px !important;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	border-bottom: 2px solid #E6B44B !important;
	background-color: var(--background-color-light);
	color: var(--text-color) !important;
	border-radius: 0 !important;
}

#contact_message {
	margin: 10px 0;
	resize: none;
	background-color: var(--background-color-light);
	border-radius: 5px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 2px solid #E6B44B !important;
	filter: brightness(90%);
	color: var(--text-color);
	padding: 10px;
}

#not_sure_section {
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	margin-top: 20vh;
	padding: 0 500px;
}

#not_sure_title_container {
	width: 100%;
	height: auto;
	text-align: center;
}

#not_sure_title_wrapper {
	text-align: left;
	display: inline-block;
}

#not_sure_title_wrapper h1 {
	font-size: 3vw;
	line-height: 60px;
	margin-right: 20px;
}

#not_sure_title_subscript {
	font-size: 1.4vw;
}

#question_mark {
	top: -10px;
	font-size: 8.5vw;
}

@media only screen and (max-width: 1700px) {
	.service-outer {
		width: 450px;
		height: 550px;
	}
	.service-inner:hover::before {
		opacity: 1;
		border-left: 14px solid var(--primary-color);
		border-right: 14px solid var(--primary-color);
		border-top: 16px solid var(--primary-color);
		border-bottom: 16px solid var(--primary-color);
	}
	#contact_wrapper {
		width: 600px;
		height: 650px;
	}
}

/* Footer
--------------------------------------------- */

.site-footer {
	padding: 200px 0 0 0;
}

.site-info {
	width: 1300px;
	padding: 60px 0;
	margin: 0 auto;
	border-top: 1px solid gray;
	text-align: center;
}

#footer_call_to_action {
	width: 960px;
	margin: 0 auto;
	padding: 20px 0;
	font-size: 1.5em;
	text-align: center;
}

#footer_call_to_action a {
	text-decoration: none;
	color: #000 !important;
	padding: 2px 5px;
	border-radius: 2px;
	transition: 0.5s;
	background-color: var(--primary-color);
}

#under_footer_vector {
	width: 100%;
	margin-top: 100px;
}

@media only screen and (max-width: 1700px) {
	.site-info {
		width: 1000px;
	}
}